@media screen and (min-width: 993px) {
    body {
        padding-left: 12%;
    }
    .bigBox {
        width: 43%;
        margin-right: 3%;
        margin-bottom: 3%;
        display: inline-block;
    }
    .bigPic {
        width: 100%;
    }
    .quadBox {
        width: 43%;
        display: inline-block;
        margin-right: 3%;
        margin-bottom: 3%;
    }
    .topLeftBox {
        padding-bottom: 36px;
        padding-right: 36px;
        width: 46%
    }
    .topRightBox {
        padding-bottom: 36px;
        width: 46%;
    }
    .bottomLeftBox {
        padding-right: 36px;
        width: 46%;
    }
    .bottomRightBox: {
        width: 46%;
    }
    .phone {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .laptop {
        display: none;
    }

    .bigBox {
    padding: 10px;
    
    }

    .bigBox img {
    
    background-color: yellow;
    }

    .sechsbox img {
    
    padding: 10px;
    
    }
    
    .doublebox img {
    padding: 10px;
    
    
    }
    .connect {
     padding: 10px;
    
    }
    
    .connect img {
    
    background-color: yellow;
    
    }
}