@media screen and (min-width: 993px) {
    .bigBox {
        width: 500px;
        margin-left: 166px;
        margin-bottom: 40px;
        display: inline-block;
    }
    .quadBox {
        width: 500px;
        display: inline-block;
        margin-left: 40px;
        margin-bottom: 40px;
    }
    .topLeftBox {
        padding-bottom: 36px;
        padding-right: 36px;
    }
    .topRightBox {
        padding-bottom: 36px;
    }
    .bottomLeftBox {
        padding-right: 36px;
    }
}

@media screen and (max-width: 768px) {

}